@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scrollbars */
}

body {
  @apply text-blackMain;
  /* @apply bg-secondaryContainer; */
}

@layer base {
  .container {
    @apply max-w-sm;
  }
  /* Responsive Headings: */
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl;
  }

  h3 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
  }

  h4 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl;
  }

  h5 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }

  h6 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl;
  }
  p {
    @apply text-base md:text-lg text-content;
  }
}

.form-fields input {
  @apply p-4 my-4 max-w-3xl rounded-2xl border-accent outline-blackMain border-2;
}
.form-fields textarea {
  @apply p-4 my-2 max-w-3xl rounded-2xl border-accent outline-blackMain border-2;
}
.contact-tiles .tile-container {
  @apply border-accent flex gap-2 flex-col my-6 border-2 py-4 px-6 rounded-2xl;
}

.tile-head {
  @apply font-bold;
}
.tile-content p {
  @apply text-secondaryContent font-normal text-base;
}
.footer-link-modify {
  @apply opacity-50 hover:opacity-100;
}
.border-color {
  @apply border-accent;
}
.border-black {
  @apply border-blackMain;
}
.main-heading {
  @apply flex flex-col gap-4;
}
.about-content {
  @apply max-w-[800px];
}
.button-anime {
  @apply font-bold bg-accent text-white hover:bg-blackMain hover:text-accent rounded-full py-4 transition duration-400;
}
.media {
  @apply flex gap-3 w-full justify-center items-center md:justify-start py-2;
}

.media a {
  @apply bg-accent w-[30px] h-[30px] md:w-[35px] md:h-[35px] text-white hover:bg-blackMain hover:outline outline-tertiary hover:outline-accent hover:outline-[0.15px] hover:text-accent p-2 flex justify-center items-center rounded-full transform duration-400;
}

.countdown-hover-anim {
  @apply outline outline-accent hover:outline-white transition-all duration-200;
}

/* 
  No need for all this
  Just add the poppins theme in tailwind.config.js
  and change font-weight n size whenever necessary.

  DELETE IF OBSOLETE
*/

/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
} */
